
*{
  margin-left: 1%;
  margin-right: 1%;
}

.title {
  text-align: center;
}

.click {
  font-size: 25px;
}

.click:hover {
  /*color: #ff6633;*/
  color: #ff9e1b;
  transition: 0.1s;
}

.News a {
  text-decoration: none;
  color: #3E5FB5;
}

a:hover {
    color: #F71156;
}
