
*{
  margin-left: 1%;
  margin-right: 1%;
}

.title {
  text-align: center;
}

.click {
  font-size: 25px;
}

.click:hover {
  /*color: #ff6633;*/
  color: #ff9e1b;
  transition: 0.1s;
}

details[open] .News {
  animation: fadeIn 1.0s ease
}

@keyframes fadeIn {
  0% {
    opacity: 0; /* 透明 */
    transform: translateY(-10px); /* 上から表示 */
  }
  100% {
    opacity: 1;
    transform: none;
  }
}



.News a {
  text-decoration: none;
  color: #3E5FB5;
}

a:hover {
    color: #F71156;
}
